<div class="card mb-4">
  <div class="card-header">
    {{ post.date_pub }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.body|truncatewords:15 }}</p>
    <a href="{{ post.get_absolute_url }}" class="btn btn-dark">Читать</a>
  </div>
  <div class="card-footer text-muted">
   Категория:
    {% for category in post.category.all %}
      <a href="{{ category.get_absolute_url }}">{{ category.title|title }}</a>
    {% endfor %}
 </div>
</div>
