{% extends 'blog/base_blog.html' %}

{% block title %}
  Изменения категории "{{ category.title|title }}" - {{ block.super }}
{% endblock %}

{% block content %}
  <form class="" action="{% url 'category_update_url' slug=category.slug %}" method="post">
    {% csrf_token %}

    {% for field in form %}
      <div class="form-group">
        {% if field.errors %}
          <div class="alert alert-danger">
            {{ field.errros }}
          </div>
        {% endif %}
        {{ field.label }}
        {{ field }}
      </div>
    {% endfor %}
    <button type="submit" name="button" class="btn btn-dark">Обновить</button>
  </form>
{% endblock %}
